body {
  background-color: rgba(126, 129, 136);
  margin: 10px;
  padding: 10px;
  font-family: "Mali", cursive;
  border: 7px outset white;
}

.borderAll {
}

.banner-container{
  width: 90%;
  display: block;
  margin: auto;
}

.banner-image{
  width: 100%;
  display: block;
  border: 2px outset white;
}

.title {
  font-size: 40px;
  text-decoration: underline;
  padding: 10px;
  color: white;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #595959;
  border-radius: 25px;
  border: 2px solid white;
  box-shadow: 5px 10px #888888;
}

.sub-header {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: white;
  background-color: rgba(89, 89, 89, .8);
  border-radius: 25px;
  position: absolute;
  top: 31%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  box-shadow: 5px 10px #888888;
}

.navNverbs {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  border: 6px outset white;
}

.nav {
  background-color: rgba(89, 89, 89, .9);
  color: white;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 5px 0 5px 0;
  font-size: 15px;
  border: 2px outset white;
}

.nav > li {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

.nav-bar {
  text-decoration: none;
  color: white;
  background-color: black; 
  border: 2px solid white;
  padding: 7px;
  border-radius: 5px;

}

.nav > li > a:hover {
  color: #c1c1c1
}

#starListId:hover {
  color: black;
  background-color: gold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  background-color: #FFD1D1;
  text-decoration: none;
  font-weight: bold;
  color: #595959;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #FFD1D1;
  color: #595959;
  font-weight: bold;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


.verb-section {
  background-color: rgba(176, 203, 139, .9);
  border: 2px outset white;

}

label {
  margin-right: 10px;
}

.inlineConjugate {
  display: inline-block;
}

.showVerbSection {
  text-align: center;
  margin-bottom: 0px;
}

.starButton {
  /* width: 20px;
  height: 20px; */
  margin: 0 0 0 15px;
  /* background-color: yellow; */
  background-color: rgb(252, 255, 232);
  color: white;
  text-shadow: 3px 3px 4px black, 0 0 25px black, 0 0 25px #FAFF17;
  font-size: 14px;
  border: 1px dashed black;
}

.verbH3Insert {
  margin: 0px 20px 0px 10px;
  text-decoration: underline;
}

.translateInput {
  width: 150px;
  padding: 7px;
}

.showNewVerbBtn {
  margin-left: 20px;
}

.inputBox {
  width: 175px;
  padding: 0 7px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  padding: 10px 10px 0 10px;
  grid-gap: 20px;
}

.inputBox {
  display: flex;
}

.ioinput {
  grid-row: 1;
  grid-column: 1;
}
.tuInput {
  grid-row: 2;
  grid-column: 1;
}
.luiInput {
  grid-row: 3;
  grid-column: 1;
} 
.noiInput {
  grid-row: 1;
  grid-column: 2;
}
.voiInput {
  grid-row: 2;
  grid-column: 2;
}
.loroInput {
  grid-row: 3;
  grid-column: 2;
}

button {
  margin: 10px;
  padding: 5px;
  border-radius: 15px;
  color: white;
  background-color: #595959;
  font-size: 14px;
}

.checkBoxShowIrrConj {
  margin-left: 20px;
  font-size: 15px;
 }

.checkAnswersBtn {
  margin-left: 40px;
  margin-top: 0px;
}

.resetVerbListBtn {
  display: none;
  margin-top: 0px;
  margin-left: 40px;
  padding: 5px;
}


.insertStarList {
  padding: 10px;
  width: 170px;
  margin: 20px 0 20px 70px;
  font-weight: bold;
  background: rgba(176, 203, 139);
  border-radius: 15px;
  padding: 5px;
  border: 2px solid white;
}

@media screen and (max-width: 750px) {
   .title {
    top: 15%;
  }
  .sub-header {
    top: 28%;
    font-size: 15px;
  }
  .banner-container {
    width: 80%;
  }
  .navNverbs {
    top: 69%;
    width: 72.5%;
  }
  .checkBoxRegVerbs {
  }


}